
<div class="row mt-4">

  <div class="col-3">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="col" >
    <!-- nuestra paginas -->
   <!--  <shared-home-page></shared-home-page> -->
<!-- <shared-about-page></shared-about-page> -->
    <router-outlet></router-outlet>
  </div>
</div>



<!--   <div class="box">
    <div>One</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
    <div>Six</div>
    <div>Seven</div>
    <div>Eight</div>
    <div>Nine</div>
    <div>Ten</div>
  </div>
 -->
